<%= stylesheet_link_tag "app" %>
<main>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  <%= render "posts/new_form", post: @post %>
  <section id="posts_section">
    <% @posts.each do |post| %>
      <article class="post_article">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
              <div class="card">
                <h5 class="card-header"><%= post.user.email %></h5>
                <img src="https://picsum.photos/1920/1080" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-hidden">
            </div>
          </div>
        </div>
      </article>
    <% end %>
  </section>
</main>
